<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Eiffel Tower</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/Icons/SightSeeing/Capture.PNG" alt="Hotel">
    <mat-card-content>
      <p>
     Champ de Mars, 5 Avenue Anatole France, France
      </p>
    </mat-card-content>
  
  </mat-card>
<br><br>
<div class="row">
<mat-form-field>
  
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker><br><br>

<br>
      <div>No. of Seats
        <mat-select [(ngModel)]="selected2" placeholder="Adults No.">
          <mat-option *ngFor="let option of options2" [value]="option.id">{{ option.name }}</mat-option>
        </mat-select>
      </div>
  
    
  
    
  </mat-form-field>
  
  <div class="button-row">
    <button mat-raised-button color="primary">Check Availability</button>
    
  </div>

  </div>